<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Let's Vote</title>
<link rel="icon" href="/static/vote_48.png">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
{% block content %}
{% endblock %}
{% include 'polls/login.html' %}
</div>
<hr>
<footer class="text-xs-center">
  &copy; <a href="https://gerald.top">Gerald</a> 2016
</footer>
<a href="https://github.com/gera2ld/letsvote"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
</body>
</html>
