{% extends 'base.html' %}

{% block content %}
<h1>Create a poll</h1>
<form method="post" id="vote-create">
<label>
  Title:
  <textarea name="title" required>{{title}}</textarea>
</label>
<label>
  Description:
  <textarea name="desc">{{desc}}</textarea>
</label>
<section>
  <label>Options:</label>
  <button type=button data-id="vote-option-add">Add</button>
  <ul id="vote-options"></ul>
</section>
<div class="vote-buttons">
  <input type=submit value="Submit">
</div>
<div class="vote-message">{{message}}</div>
</form>
<script>
!function ($, options) {
  function addItem(text) {
    const li = document.createElement('li');
    li.innerHTML = '<textarea name="option" required></textarea><button type=button data-id=vote-option-remove>Remove</button>';
    li.firstChild.value = text || '';
    ul.appendChild(li);
  }
  const ul = $('#vote-options');
  const btnAdd = $('[data-id=vote-option-add]');
  const msg = $('.vote-message');
  btnAdd.addEventListener('click', function (e) {
    addItem();
  }, false);
  ul.addEventListener('click', function (e) {
    const target = e.target;
    if (target.dataset.id === 'vote-option-remove') {
      const li = target.parentNode;
      li.remove();
    }
  }, false);
  $('#vote-create').addEventListener('submit', function (e) {
    if (![].slice.call(ul.children).filter(function (li) {
      const textarea = li.querySelector('textarea');
      const value = textarea.value.trim();
      if (value) return true;
      li.remove();
    }).length) {
      e.preventDefault();
      msg.innerHTML = 'Options are required!';
    }
  }, false);
  if (options) options.forEach(addItem);
  else addItem();
}(function (selector) {return document.querySelector(selector);}, {{ json_options or 'null' }});
</script>
{% endblock %}
