<form method="post">
  <div class="vote-options">
    {% for option in poll.options %}
    <div class="vote-option">
      <input type=radio name="voteGroup" value="{{ option.oid | e }}"
      {{ ' checked' if option.checked else '' }}
      {{ '' if poll.uid and not poll.voted else ' disabled' }}
      >
      {{ option.title }}
      {% if poll.voted %}
      <span class="vote-total">{{ option.total }}</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if poll.uid %}
  <div class="vote-buttons">
    <input type=submit value="Sumbit"{{ ' disabled' if poll.voted else ''}}>
  </div>
  {% endif %}
</form>
